/* The side navigation menu */

.topbar{
    background-color: #111;
    font-family: "Tahoma";
    color: #f1f1f1;
    padding-bottom: 10px;
    padding-top: 10px;
}

.topbar div{
    display: inline;
}

.topbar header{
    display: inline;  
    padding-left: 90px;
    font-size: 20px;
}

.topbar p{
    font-size: 12px;
    float: right;
    padding-right: 10px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    /*position: fixed; /* Stay in place */
    float: left;
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Tahoma";
    color: #f1f1f1;
    display: block;
    transition: 0.3s
}

.fixedinfo {
    right: 0;
    position: fixed;
    padding: 10px;
}

.fixedinfo td {
    padding: 5px 10px;
}

.content {
    float: left;
    padding: 10px;
}

.content td {
    padding: 10px 30px;
}

body {
    padding: 0;
    margin: 0;
}

