{% extends 'tradetracker/tradeTrackerBase.html' %}

{% block headtitle %} Edit Trades {% endblock %}
{% block bodyheader %} Edit Trades {% endblock %}

{% block content %}
	{% if trade_list %}
		<table>
			<tr>
				<th>Ticker</th>
				<th>Price</th>
				<th>Shares</th>
				<th>Date</th>
			</tr>
		{% for trade in trade_list %}
			<tr>
				<td>{{trade.ticker}}</td>
				<td>{{trade.price}}</td>
				<td>{{trade.shares}}</td>
				<td>{{trade.trade_date}}</td>
				<td>
					<form action="{% url 'tradetracker:deleteTrade' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="selectedTrade" value="{{trade.id}}">
						<input type="submit" value="Delete">
					</form>
				</td>
				<td>
					<form action="{% url 'tradetracker:editSpecificTrade' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="selectedTrade" value="{{trade.id}}">
						<input type="submit" value="Edit">
					</form>
				</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p><strong>No trades are available to edit.</strong></p>
	{% endif %}
	{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}		
