{% extends 'tradetracker/tradeTrackerBase.html' %}


{% block headtitle %} View Trades {% endblock %}
{% block bodyheader %} View Trades {% endblock %}

{% block content %}
	{% if trade_list %}
		<table>
			<tr>
				<th>Ticker</th>
				<th>Price</th>
				<th>Shares</th>
				<th>Date</th>
				<th>Current Price</th>
			</tr>
		{% for trade in trade_list %}
			<tr>
				<td>{{trade.ticker}}</td>
				<td>{{trade.price}}</td>
				<td>{{trade.shares}}</td>
				<td>{{trade.trade_date}}</td>
				<td>tbd</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p><strong>No trades are available to view.</strong></p>
	{% endif %}
{% endblock %}

{% block fixedinfo %}
	{% if total_earnings %}
		<strong>Total Amount Earned:</strong> {{total_earnings}} <br>
	{% endif %}
	{% if portfolio_list %}
		<strong>Portfolio</strong>
		<table>
			<tr>
				<th>Ticker</th>
				<th>Shares</th>
				<th>Average Cost</th>
			</tr>
		{% for stock in portfolio_list %}
			<tr>
				<td>{{stock.ticker}}</td>
				<td>{{stock.shares}}</td>
				<td>{{stock.average_cost}}</td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}
{% endblock %}
			
